<div class="main-container">
  <div class="header-container">
    <h1 class="text-container">Star Wars Planets</h1>
  </div>
  <div class="body-container">
    <app-planet-list />
  </div>
  <footer>
    <div class="footer-content">
      <div class="footer-label">
        <span>Developed by Mario Mariani</span>
      </div>
      <div class="footer-links">
        <a
          href="https://www.linkedin.com/in/mario-dante-mariani/"
          target="_blank"
        >
          <img
            width="20"
            alt="Mario Mariani LinkedIn"
            src="../assets/linkedin-icon.png"
            routerLink="/"
          />
        </a>
        <a href="https://github.com/mariodantemariani/" target="_blank">
          <img
            width="20"
            alt="Mario Mariani Github"
            src="../assets/github-icon.png"
            routerLink="/"
          />
        </a>
      </div>
    </div>
  </footer>
</div>
