.main-container {
  .header-container {
    display: flex;
    text-align: center;
    height: 50px;
    align-items: center;
    font-size: 18px;
    color: black;
    font-weight: 400;
    justify-content: center;
    padding: 0 10px;
    background-color: #f0f0f0;

    .text-container {
      text-align: center;
      flex-grow: 1;
    }

    .toggle-container {
      margin-right: 0;
    }
  }
  .body-container {
    background-color: #0060601c;
  }
}
footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .footer-label {
      display: flex;
      align-items: center;
    }
    .footer-label span {
      margin-left: 5px;
      font-weight: bold;
    }
    .footer-links a {
      margin-left: 10px;
    }
  }
}
