.loading-shade {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1.8;
  z-index: 1;
}

.container {
  padding: 30px;

  .full-width {
    font-size: 14px;
    width: 100%;
    padding: 0;
  }

  .table-list {
    display: grid;
    grid-gap: 16px;
    padding: 30px;
    align-items: start;

    .head {
      font-weight: 600;
    }

    .item {
      text-wrap: balance;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .previous-button {
      background-color: #f44336;
      color: white;
    }

    .next-button {
      background-color: #4caf50;
      color: white;
    }
  }
  .table {
    width: 100%;
    padding: 30px;
    border-collapse: collapse;
  }
}

@supports (width: min(150px, 100%)) {
  .table-list {
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  }
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
